.row {
    display: flex;
    flex-direction: row;
    /* width: 100%; */
}
.column {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.left {
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    width: 69%;
    padding: 10px;
 }
 .right {
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    width: 25%;
    padding: 10px;
 }
.mealDiv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.left img {
    padding-top:10px;
    width: 50%;
    /* height: 40%; */
    object-fit: cover;
}
.ingredients {
    padding-left: 20px;
}
.ingredients li{
    list-style: none;
}

.mealTitle{
    padding: 10px;
}
.ingredients h3 {
    color:tomato;
    text-align: left;
}