.row {
    display: flex;
    flex-direction: row;
    /* width: 100%; */
}
.column {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.left {
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    width: 69%;
    padding: 10px;
 }
 .right {
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    width: 25%;
    padding: 10px;
 }
.mealDiv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.left img {
    padding-top:10px;
    width: 40%;
    height: 40%;
    object-fit: cover;
}
.left .row p {
    padding: 0px 0px px 5px;
}
.mealTitle{
    padding: 10px;
}
.mealTitle h3 {
    color:tomato;
}